<div class="container-fluid py-5" id="about">
  <div class="container">
    <div class="position-relative d-flex align-items-center justify-content-center">
      <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">About</h1>
      <h1 class="position-absolute text-uppercase text-primary">About Me</h1>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 pb-4 pb-lg-0">
        <img class="img-fluid rounded w-100" src="assets/img/blog-1.jpg" alt="">
      </div>
      <div class="col-lg-7">
        <h3 class="mb-4">software Solution Agency</h3>
        <p>My name is Karoui Mayssa and I'm here to present the Software Solution Agency, a company that specializes in developing cutting-edge software solutions for the banking industry.

          Our mission at the Software Solution Agency is to empower financial institutions with the latest technologies to improve their operations and customer experience. We believe that our solutions can help banks stay ahead of the curve and meet the evolving needs of their customers.</p>
        <div class="row mb-3">
          <div class="col-sm-6 py-2"><h6>Name: <span class="text-secondary">Karoui Mayssa</span></h6></div>
          <div class="col-sm-6 py-2"><h6>Birthday: <span class="text-secondary">20 october 2000</span></h6></div>
          <div class="col-sm-6 py-2"><h6>Degree: <span class="text-secondary">Bachelor's Degree</span></h6></div>
          <div class="col-sm-6 py-2"><h6>Experience: <span class="text-secondary">More than one year</span></h6></div>
          <div class="col-sm-6 py-2"><h6>Phone: <span class="text-secondary">+216 56 880 901</span></h6></div>
          <div class="col-sm-6 py-2"><h6>Email: <span class="text-secondary">karouimayssa43@gmail.com</span></h6></div>
          <div class="col-sm-6 py-2"><h6>Address: <span class="text-secondary">123 Street,Rades, TN</span></h6></div>
        </div>
        <a href="" class="btn btn-outline-primary mr-4">Hire Me</a>
      </div>
    </div>
  </div>
</div>
