<div class="container-fluid bg-primary text-white mt-5 py-5 px-sm-3 px-md-5">
  <div class="container text-center py-5">
    <div class="d-flex justify-content-center mb-4">
      <a class="btn btn-light btn-social mr-2" href="https://www.facebook.com/sirine.louati.7127"><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-light btn-social mr-2" href="https://www.linkedin.com/in/mayssa-karoui-1406a4213/"><i class="fab fa-linkedin-in"></i></a>
      <a class="btn btn-light btn-social" href="https://www.instagram.com/mayssa_karoui/"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="d-flex justify-content-center mb-3">
      <a class="text-white" href="#about">About</a>
      <span class="px-3">|</span>
      <a class="text-white" href="#service">Services</a>
      <span class="px-3">|</span>
      <a class="text-white" href="#qualification">Quality</a>
      <span class="px-3">|</span>
      <a class="text-white" href="#skill">Skills</a>
    </div>

  </div>
</div>
