<div class="container-fluid pt-5" id="blog">
  <div class="container">
    <div class="position-relative d-flex align-items-center justify-content-center">
      <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Client</h1>
      <h1 class="position-absolute text-uppercase text-primary">Latest Client</h1>
    </div>
    <div class="row">
      <div class="col-lg-3 mb-5">
        <div class="position-relative mb-4">
          <img class="img-fluid rounded w-100" src="assets/img/ing.png" alt="">

        </div>

      </div>
      <div class="col-lg-3 mb-5">
        <div class="position-relative mb-4">
          <img class="img-fluid rounded w-100" src="assets/img/orange.png" alt="">

        </div>

      </div>
      <div class="col-lg-3 mb-5">
        <div class="position-relative mb-4">
          <img class="img-fluid rounded w-100" src="assets/img/nbk.jpeg" alt="">

        </div>
     >
      </div>
      <div class="col-lg-3 mb-5">
        <div class="position-relative mb-4">
          <img class="img-fluid rounded w-100" src="assets/img/nwm.png" alt="">

        </div>

      </div>
    </div>
  </div>
</div>
