<!-- Navbar Start -->
<app-header></app-header>
<!-- Navbar End -->





<!-- Header Start -->
<app-start-header></app-start-header>
<!-- Header End -->


<!-- About Start -->
<app-about></app-about>
<!-- About End -->


<!-- Qualification Start -->
<app-education-experience></app-education-experience>
<!-- Qualification End -->


<!-- Skill Start -->
<app-skills></app-skills>
<!-- Skill End -->


<!-- Services Start -->
<app-services></app-services>
<!-- Services End -->


<!-- Portfolio Start -->
<app-gallery></app-gallery>
<!-- Portfolio End -->


<!-- Blog Start -->
<app-client></app-client>
<!-- Blog End -->


<!-- Contact Start -->
<app-contact></app-contact>
<!-- Contact End -->


<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->

<!-- Scroll to Bottom -->
<i class="fa fa-2x fa-angle-down text-white scroll-to-bottom"></i>

<!-- Back to Top -->
<a href="#" class="btn btn-outline-dark px-0 back-to-top"><i class="fa fa-angle-double-up"></i></a>
<router-outlet></router-outlet>
