<div class="container-fluid py-5" id="qualification">
  <div class="container">
    <div class="position-relative d-flex align-items-center justify-content-center">
      <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Quality</h1>
      <h1 class="position-absolute text-uppercase text-primary">Education & Expericence</h1>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h3 class="mb-4">My Education</h3>
        <div class="border-left border-primary pt-2 pl-4 ml-2">
          <div class="position-relative mb-4">
            <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
            <h5 class="font-weight-bold mb-1">Bachelor's Degree in Experimental Sciences</h5>
            <p class="mb-2"><strong>Rades Technical High School</strong> | <small>2018 - 2019</small></p>
            <p>Bachelor's degree in experimental sciences is likely to have a strong foundation in scientific principles and methodology. He would have studied a range of scientific subjects such as physics, chemistry, biology, and mathematics during his undergraduate education.</p>
          </div>
          <div class="position-relative mb-4">
            <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
            <h5 class="font-weight-bold mb-1">Bachelor's Degree in Computer Science</h5>
            <p class="mb-2"><strong>Higher Institute of Information and Communication Technologies</strong> | <small>2019 - 2022</small></p>
            <p>A Bachelor's degree in Software Engineering or Software Development has a strong foundation in the principles, methods, and techniques used in designing, developing, and maintaining software systems. They have gained in-depth knowledge and skills in computer programming, software development life cycle, software testing, and project management.</p>
          </div>
          <div class="position-relative mb-4">
            <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
            <h5 class="font-weight-bold mb-1">Engineering cycle</h5>
            <p class="mb-2"><strong> Sezame University</strong> | <small>2022 - 2026</small></p>
            <p>An engineering degree in software engineering or software development provides students with in-depth knowledge and practical skills in various aspects of software engineering, including programming languages, software development tools, software testing, software maintenance, and project management. This knowledge and skill set are highly valued in the software industry, making graduates attractive candidates for software engineering positions.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="mb-4">My Expericence</h3>
        <div class="border-left border-primary pt-2 pl-4 ml-2">
          <div class="position-relative mb-4">
            <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
            <h5 class="font-weight-bold mb-1">Full Stack Js Developer</h5>
            <p class="mb-2"><strong>Upwork</strong> | <small>07/2021 - 09/2022</small></p>
            <p>full stack JavaScript development  provide the developer with practical experience in developing full stack web applications using JavaScript technologies. The developer would work alongside experienced developers, designers, and project managers to build web applications from start to finish.</p>
          </div>
          <div class="position-relative mb-4">
            <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
            <h5 class="font-weight-bold mb-1">Full Stack Js Developer</h5>
            <p class="mb-2"><strong>Csplus</strong> | <small>01/2022 - 05/2022</small></p>
            <p>Work on full stack web applications but with a greater focus on more complex features and technologies.</p>
          </div>
          <div class="position-relative mb-4">
            <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
            <h5 class="font-weight-bold mb-1">Front End Developer</h5>
            <p class="mb-2"><strong>MobiSms</strong> | <small>04/2022 - 06/2022</small></p>
            <p>freelance project as a frontend developer would involve developing the user interface and user experience for a web or mobile application. The developer would be responsible for implementing the visual design and functionality of the application, ensuring that it is responsive, accessible, and user-friendly.</p>
          </div>
          <div class="position-relative mb-4">
            <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
            <h5 class="font-weight-bold mb-1">Software Engineer</h5>
            <p class="mb-2"><strong>Sopra Banking</strong> | <small>07/2022 - Present</small></p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
