<div class="container-fluid pt-5" id="service">
  <div class="container">
    <div class="position-relative d-flex align-items-center justify-content-center">
      <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Service</h1>
      <h1 class="position-absolute text-uppercase text-primary">My Services</h1>
    </div>
    <div class="row pb-3">
      <div class="col-lg-4 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center mb-4">
          <i class="fa fa-2x fa-laptop service-icon bg-primary text-white mr-3"></i>
          <h4 class="font-weight-bold m-0">Software Development</h4>
        </div>
        <p>Our software development agency specializes in creating custom solutions to meet the specific needs of our clients. We are a team of experienced and qualified developers who work together to design, develop, and deploy superior quality software.</p>

      </div>
      <div class="col-lg-4 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center mb-4">
          <i class="fa fa-2x fa-laptop-code service-icon bg-primary text-white mr-3"></i>
          <h4 class="font-weight-bold m-0">Software Testing</h4>
        </div>
        <p>Ensuring the quality and reliability of software applications. Our team of experienced testers uses the latest tools and techniques to identify bugs, errors, and other issues that may impact the performance and usability of your software.</p>
      </div>
      <div class="col-lg-4 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center mb-4">
          <i class="fab fa-2x fa-android service-icon bg-primary text-white mr-3"></i>
          <h4 class="font-weight-bold m-0">data analysis</h4>
        </div>
        <p>Helping businesses make better decisions by leveraging the power of data. Our team of experienced data analysts uses the latest tools and techniques to analyze and interpret complex data sets, uncovering insights that drive business growth and success.

        </p>
      </div>
      <div class="col-lg-4 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center mb-4">
          <i class="fab fa-2x fa-apple service-icon bg-primary text-white mr-3"></i>
          <h4 class="font-weight-bold m-0">Apps Development</h4>
        </div>
        <p>Our team of experienced developers has a deep understanding of the latest mobile app development technologies and frameworks, and we are committed to delivering high-quality apps that meet the unique needs of our clients.</p>
      </div>
      <div class="col-lg-4 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center mb-4">
          <i class="fa fa-2x fa-search service-icon bg-primary text-white mr-3"></i>
          <h4 class="font-weight-bold m-0">SEO</h4>
        </div>
        <p>Our team of experienced SEO experts uses a data-driven approach to develop and implement customized SEO strategies that are tailored to each client's unique needs.</p>
      </div>
      <div class="col-lg-4 col-md-6 text-center mb-5">
        <div class="d-flex align-items-center justify-content-center mb-4">
          <i class="fa fa-2x fa-edit service-icon bg-primary text-white mr-3"></i>
          <h4 class="font-weight-bold m-0">Architect Solution</h4>
        </div>
        <p>Our team of experienced solution architects has a deep understanding of the latest technologies and trends, and we are committed to delivering high-quality solutions that drive business growth and success.</p>

      </div>
    </div>
  </div>
</div>
